### Step 0
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

In [3]:
import numpy as np
import pandas as pd
#read excel file 
energy = pd.read_excel('data/Energy Indicators.xls',
                       names = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'],
                       usecols = "C:F", skiprows =17, nrows = 227)
#replace missing data with NaN
energy.replace('...', np.NaN,inplace = True)
#str.replace clean data from  numbers and/or parenthesis
energy['Country'] = energy['Country'].str.replace(' \(.*\)', '')
energy['Country'] = energy['Country'].str.replace('[0-9]*', '') 
#Convert Energy Supply to gigajoules
energy['Energy Supply'] = 1000000*energy['Energy Supply']
#Rename some countries
energy['Country'] = energy['Country'].replace({'Republic of Korea':'South Korea',
                                               'United States of America':'United States',
                                               'United Kingdom of Great Britain and Northern Ireland':'United Kingdom',
                                               'China, Hong Kong Special Administrative Region':'Hong Kong'})

#show sample from the data
energy.sample(50)

,Country,Energy Supply,Energy Supply per Capita,% Renewable
116,Lesotho,4.800000e+07,23.0,100.000000
173,Saint Pierre and Miquelon,1.000000e+06,162.0,2.127660
61,Dominican Republic,3.390000e+08,33.0,11.250600
188,South Africa,6.341000e+09,119.0,1.687019
121,Luxembourg,1.680000e+08,307.0,45.533240
158,Peru,8.580000e+08,28.0,51.968610
55,Czech Republic,1.751000e+09,166.0,7.067134
118,Libya,7.070000e+08,113.0,0.000000
43,Hong Kong,5.850000e+08,82.0,0.000000
104,Jamaica,1.080000e+08,39.0,5.615602
52,Cuba,5.850000e+08,51.0,0.663532
144,New Caledonia,5.100000e+07,200.0,20.430970
203,Togo,1.340000e+08,19.0,80.180180
131,Mauritius,5.800000e+07,46.0,3.531856
10,Aruba,1.200000e+07,120.0,14.870690
8,Argentina,3.378000e+09,79.0,24.064520
36,Cameroon,3.070000e+08,14.0,70.886260
29,British Virgin Islands,2.000000e+06,85.0,0.000000
89,Guinea,1.450000e+08,12.0,48.442210
17,Barbados,1.900000e+07,69.0,0.000000
47,Congo,1.020000e+08,23.0,57.748870
108,Kazakhstan,3.548000e+09,208.0,8.112784
91,Guyana,3.400000e+07,45.0,0.000000
130,Mauritania,5.100000e+07,13.0,0.000000
197,Switzerland,1.113000e+09,136.0,57.745480
86,Guam,NaN,NaN,0.000000
184,Slovakia,7.110000e+08,131.0,20.217120
147,Niger,8.700000e+07,5.0,0.000000
217,United States Virgin Islands,NaN,NaN,0.000000
180,Seychelles,9.000000e+06,94.0,1.977401
21,Benin,1.700000e+08,16.0,0.000000
42,China,1.271910e+11,93.0,19.754910
19,Belgium,2.338000e+09,210.0,9.959739
224,Yemen,3.440000e+08,13.0,0.000000
70,Falkland Islands,1.000000e+06,258.0,33.333330
24,Bolivia,3.360000e+08,32.0,31.477120
134,Mongolia,4.750000e+08,166.0,0.000000
59,Djibouti,1.100000e+07,13.0,0.000000
87,Guatemala,4.520000e+08,29.0,49.521680
215,United Republic of Tanzania,9.940000e+08,20.0,31.072840
81,Gibraltar,8.000000e+06,245.0,0.000000
69,Faeroe Islands,9.000000e+06,179.0,38.566550
78,Georgia,1.630000e+08,40.0,82.224870
162,Puerto Rico,5.600000e+07,15.0,1.080808
163,Qatar,1.396000e+09,664.0,0.000000
219,Uzbekistan,1.798000e+09,62.0,21.328410
208,Turkmenistan,1.102000e+09,210.0,0.000000
206,Tunisia,4.300000e+08,39.0,3.492547
2,Algeria,1.959000e+09,51.0,0.551010
186,Solomon Islands,6.000000e+06,11.0,0.000000

Step 1
<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

In [4]:
import pandas as pd
#read csv file
GDP = pd. read_csv('data/world_bank.csv', skiprows = 4)
#rename some country name 
GDP['Country Name'] = GDP['Country Name'].replace({'Korea, Rep.':'South Korea',
                                                   'Iran, Islamic Rep.':'Iran',
                                                   'Hong Kong SAR, China':'Hong Kong'})
GDP.sample(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
63,Ecuador,ECU,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.020224e+10,1.035967e+10,1.083196e+10,1.125177e+10,1.213074e+10,1.270307e+10,...,6.146892e+10,6.281513e+10,6.680837e+10,6.718683e+10,6.955537e+10,7.502808e+10,7.926114e+10,8.287035e+10,8.591582e+10,8.616529e+10
230,Thailand,THA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.564004e+10,1.647868e+10,1.772352e+10,1.914137e+10,2.044892e+10,2.212198e+10,...,2.978681e+11,3.140575e+11,3.194770e+11,3.171184e+11,3.409236e+11,3.437658e+11,3.686234e+11,3.785840e+11,3.816794e+11,3.924416e+11
149,Madagascar,MDG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.651568e+09,3.726375e+09,3.811004e+09,3.775584e+09,3.925193e+09,3.907441e+09,...,7.970138e+09,8.467521e+09,9.071129e+09,8.707027e+09,8.729936e+09,8.856904e+09,9.125050e+09,9.331595e+09,9.623316e+09,9.913610e+09
27,Brazil,BRA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.466572e+11,2.720034e+11,2.861913e+11,2.886945e+11,2.987572e+11,3.078797e+11,...,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12
158,Myanmar,MMR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Cabo Verde,CPV,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.352564e+09,1.557757e+09,1.661356e+09,1.640250e+09,1.664311e+09,1.730364e+09,1.749085e+09,1.767367e+09,1.816851e+09,1.862692e+09
175,Norway,NOR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,8.300177e+10,8.820874e+10,9.069089e+10,9.412358e+10,9.883884e+10,1.040631e+11,...,4.190512e+11,4.313284e+11,4.329860e+11,4.259607e+11,4.285247e+11,4.326762e+11,4.445694e+11,4.490094e+11,4.589539e+11,4.662883e+11
124,Kosovo,KSV,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.958692e+09,5.319987e+09,5.460691e+09,5.643169e+09,5.829934e+09,6.099252e+09,6.270547e+09,6.486283e+09,6.565321e+09,6.803277e+09
116,Japan,JPN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.741600e+11,8.673962e+11,9.446723e+11,1.024720e+12,1.144374e+12,1.210973e+12,...,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
201,South Asia,SAS,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.840484e+11,1.916061e+11,1.979559e+11,2.086032e+11,2.246484e+11,2.223897e+11,...,1.588121e+12,1.716564e+12,1.783227e+12,1.919371e+12,2.093719e+12,2.226077e+12,2.351842e+12,2.499225e+12,2.670483e+12,2.862660e+12

### Step 2
Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

In [5]:
#read execl file 
scimen = pd.read_excel('data/scimagojr-3.xlsx')
#show 5 rows from data 
scimen.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

### Step 3
Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This step should yeild a DataFrame with 20 columns and 15 entries.*

In [6]:
scimen = scimen[:15]
scimen

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
5,6,Canada,17899,17620,215003,40930,12.01,149
6,7,Germany,17027,16831,140566,27426,8.26,126
7,8,India,15005,14841,128763,37209,8.58,115
8,9,France,13153,12973,130632,28601,9.93,114
9,10,South Korea,11983,11923,114675,22595,9.57,104
10,11,Italy,10964,10794,111850,26661,10.20,106
11,12,Spain,9428,9330,123336,23964,13.08,115
12,13,Iran,8896,8819,57470,19125,6.46,72
13,14,Australia,8831,8725,90765,15606,10.28,107
14,15,Brazil,8668,8596,60702,14396,7.00,86

In [53]:
GDP.rename(columns = {'Country Name' : 'Country'}, inplace = True)
df = pd.merge(scimen, energy, how = 'inner', left_on = 'Country', right_on='Country')
dff = pd.merge (df , GDP , how = 'inner' , left_on = 'Country', right_on = 'Country') 
dff = dff.set_index('Country')
dff = dff[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 
           'Energy Supply', 'Energy Supply per Capita', '% Renewable',
           '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]

dff.shape

(15, 20)

In [52]:
dff

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

### Step 4
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This step should yield a single number.*

In [49]:
in_join = pd.merge(scimen, energy,on='Country')
final_df1 = pd.merge(inner_join,GDP[['Country','2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
                  ,on='Country')
# second get the outer merge result 
out_join = pd.merge(scimen, energy, how = 'outer', on = 'Country')
final_df2 = pd.merge( out_join,GDP[['Country','2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
                         , how = 'outer', on = 'Country')   
# print(len(final_df2) - len(final_df))
# Use the length of the outer merge to subtract the length of the inner merge. The answer is 290.
len(final_df2) - len(final_df1)

290

### Step 5

#### Answer the following questions in the context of only the top 15 countries by Scimagojr Rank 


What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This step should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [20]:
GDP_subset=dff[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
avg= GDP_subset.mean(axis=1)
dff['avgGDP']=avg
dff[["avgGDP"]]

                          avgGDP
Country
China               6.348609e+12
United States       1.536434e+13
Japan               5.542208e+12
United Kingdom      2.487907e+12
Russian Federation  1.565459e+12
Canada              1.660647e+12
Germany             3.493025e+12
India               1.769297e+12
France              2.681725e+12
South Korea         1.106715e+12
Italy               2.120175e+12
Spain               1.418078e+12
Iran                4.441558e+11
Australia           1.164043e+12
Brazil              2.189794e+12

### Step  6
What is the mean `Energy Supply per Capita`?

*This step should return a single number.*

In [22]:
dff['Energy Supply per Capita'].mean()

157.6

### Step 7
What country has the maximum % Renewable and what is the percentage?

*This step should return a tuple with the name of the country and the percentage.*

In [31]:
Max= dff['% Renewable'].max()
country=dff['% Renewable'].idxmax()
print("(",country,",",Max,")")

( Brazil , 69.64803 )

### Step 8
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This step should return a tuple with the name of the country and the ratio.*

In [36]:
dff['ratio'] = dff['Self-citations']/dff['Citations'].sum()

dff[['ratio']].head(3)

                  ratio
Country
China          0.136019
United States  0.087699
Japan          0.020337

### Step 9
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This step should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [40]:
Median= dff['% Renewable'].median()
dff['HighRenew'] = dff['% Renewable'].apply(lambda x : '1' if x >= Median else '0' )
dff[['HighRenew']]

                   HighRenew
Country
China                      1
United States              0
Japan                      0
United Kingdom             0
Russian Federation         1
Canada                     1
Germany                    1
India                      0
France                     1
South Korea                0
Italy                      1
Spain                      1
Iran                       0
Australia                  0
Brazil                     1

### Step 10
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [55]:
dff['population']=dff['Energy Supply']/ dff['Energy Supply per Capita']  
dff[['population']]

                      population
Country
China               1.367645e+09
United States       3.176154e+08
Japan               1.274094e+08
United Kingdom      6.387097e+07
Russian Federation  1.435000e+08
Canada              3.523986e+07
Germany             8.036970e+07
India               1.276731e+09
France              6.383735e+07
South Korea         4.980543e+07
Italy               5.990826e+07
Spain               4.644340e+07
Iran                7.707563e+07
Australia           2.331602e+07
Brazil              2.059153e+08

In [63]:
group=dff['population'].groupby(ContinentDict)
size = group.size()
sum = group.sum()
mean = group.mean()
std = group.std()
result = pd.DataFrame({'size': size,'sum': sum,'mean': mean,'std': std})
result.head()

               size           sum          mean           std
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN